
.btn, .btn.mat-button {
    @include TEXT-LABELED;
    padding: REL-SIZE(0.5) REL-SIZE(1.5);
    border-radius: REL-SIZE(0.25);
    background: transparent;
    border: REL-SIZE(0.075) solid transparent;
    position: relative;
    overflow: hidden;
    min-width: 0;

    @include MOBILE { padding: REL-SIZE(0.5) REL-SIZE(1); }

    &:focus {
        outline: none;
        &:after {
            display: block;
            content: " ";
            @include FULL-COVER;
            background: rgba($color-black, 0.05);
        }
    }


    /**
     * Sizes
     */
    &.btn-full {
        width: 100%;
    }
    &.btn-lg {
        @include FONT-SIZE(1.1);
        padding: REL-SIZE(0.75) REL-SIZE(2);
    }
    &.btn-sm {
        padding: REL-SIZE(0.35) REL-SIZE(1);
    }
    &.btn-xs {
        padding: REL-SIZE(0.25) REL-SIZE(0.75);
    }


    /**
     * Colors
     */

    &.btn-primary {
        background: $color-primary;
        color: $color-white;
    }
    &.btn-primary-dark {
        background: $color-primary-dark;
        color: $color-white;
    }
    &.btn-secondary {
        background: $color-secondary;
        &, &:active { color: $color-white; }
    }
    &.btn-success {
        background: $color-success;
        color: $color-white;
    }
    &.btn-danger {
        background: $color-danger;
        color: $color-white;
    }
    &.btn-warning {
        background: $color-warning;
        color: $color-white;
    }
    &.btn-info {
        background: $color-info;
        color: $color-white;
    }


    /**
     * Outlined
     */

    &.btn-outline {
        border-color: $color-text-base;
    }
    &.btn-outline-primary {
        border-color: $color-primary;
        color: $color-primary;
        &:hover { color: $color-white; }
    }
    &.btn-outline-secondary {
        border-color: $color-secondary;
        color: $color-secondary;
        &:hover { color: $color-white; }
    }
    &.btn-outline-success {
        border-color: $color-success;
        color: $color-success;
        &:hover { color: $color-white; }
    }
    &.btn-outline-danger {
        border-color: $color-danger;
        color: $color-danger;
        &:hover { color: $color-white; }
    }
    &.btn-outline-warning {
        border-color: $color-warning;
        color: $color-warning;
        &:hover { color: $color-white; }
    }
    &.btn-outline-info {
        border-color: $color-info;
        color: $color-info;
        &:hover { color: $color-white; }
    }

}
